@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
.card {
  /* width: 14rem; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 20px;
}
.row:first-child {
  padding-left: 0;
}
.row:last-child {
  padding-right: 0;
}
.main {
  max-width: 1440px;
  margin: auto;
}
.food-decs p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
#sl-pr {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 27px;
  color: #f17228;
}
.main-pr {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  text-decoration-line: line-through;
  color: #171717;
  margin-left: 10px;
}
.card-sale span {
  background: #f17228;
  border-radius: 0px 0.25rem 0px 20px;
  width: 75px;
  height: 43px;
  position: absolute;
  top: 2.9%;
  right: 3.6%;
  z-index: 1;
}
.card-sale p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 10px 10px;
}
.card-hover {
  width: 207.5px;
  height: 172.5px;
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: #00000080;
  border-radius: 0.25rem;
  opacity: 0;
  z-index: 1;
}
.card-hover img {
  width: 60px;
  /* height: 60px; */
}
.card-hover:hover {
  opacity: 1;
  transition: opacity 1s;
  border-radius: 0.25rem;
}
.container {
  max-width: 620px;
  margin: auto;
  box-sizing: border-box;
}
.modal-content {
  width: 700px !important;
  height: 901px !important;
}
.name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: right;
  color: #f17228;
}
.ingredieants {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.ingredieants-unit {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #767676;
}
.quantity {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.portion1 {
  background: #f17228;
  border-radius: 10px;
  width: 300px;
  height: 40px;
  border: none;
}
.portion2 {
  width: 300px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #fbc5a6;
  box-sizing: border-box;
  border-radius: 10px;
}
.portion1::placeholder {
  color: #ffffff;
}
.portion2::placeholder {
  color: #f17228;
}
.mtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.qnt1 .button {
  width: 65px;
  height: 40px;
  border: none;
  background: #f17228;
  border-radius: 10px;
}
.qnt1 .button2 {
  width: 65px;
  height: 40px;
  left: 555px;
  top: 0px;
  border: none;
  background: #f17228;
  border-radius: 10px;
}
.qnt1 .text1 {
  border: none;
  text-align: center;
  width: 450px;
  height: 40px;
  left: 85px;
  background: #fff1e9;
  border-radius: 10px;
}
.busket2 {
  width: 620px;
  height: 48px;
  border: none;
  background: #f17228;
}
