@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container:first-child {
  padding-left: 0;
}
.container:last-child {
  padding-right: 0;
}

.main-pr {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  text-decoration-line: line-through;
  color: #171717;
  margin-left: 10px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px !important;
  overflow: hidden;
}
/* .card img {
  border-radius: 20px;
} */
.card span {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  font-family: "Poppins";
  background: #f17228;
  font-size: 600;
  color: #ffffff;
  width: 80px;
  height: 40px;
  text-align: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  padding: 5px;
}
.col {
  position: relative;
}
.card-hover {
  width: 100%;
  height: 100%;
  position: absolute;
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
  border-radius: 20px;
  opacity: 0;
  z-index: 2;
}
.card-hover img {
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.card-hover:hover {
  opacity: 1;
  transition: opacity 1s;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
.modal-dialog {
  max-width: 996px !important;
  margin: auto;
  box-sizing: border-box;
}
.btn-cl {
  align-self: flex-end;
}
.describe-food {
  position: relative;
  width: 100%;
  justify-content: space-around;
}
.name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: right;
  color: #f17228;
}
.ingredieants {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.ingredieants-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #767676;
  background: #f7f8f7;
  border-radius: 10px;
  padding: 10px 0px 28px 20px;
}
.quantity {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.portion1 {
  background: #f17228;
  border-radius: 10px;
  border: none;
}
.portion2 {
  background: #ffffff;
  border: 1px solid #fbc5a6;
  box-sizing: border-box;
  border-radius: 10px;
}
.portion1::placeholder {
  color: #ffffff;
}
.portion2::placeholder {
  color: #f17228;
}
.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.qnt1 .button {
  border: none;
  width: 100%;
  flex-grow: 1;
  color: #ffffff;
  height: 40px;
  background: #f17228;
  border-radius: 10px;
}
.submit button {
  border: none;
  width:100%;
  height: 48px;
  color: #ffffff;
  background: #f17228;
  border-radius: 10px;
}

.qnt1 .text1 {
  border: none;
  flex-grow: 3 !important;
  text-align: center;
  background: #fff1e9;
  border-radius: 10px;
}
.busket2 {
  border: none;
  background: #f17228;
}
@media (max-width: 1200px) {
  .modal-dialog {
    max-width: 700px !important;
    margin: auto;
    box-sizing: border-box;
  }
}
