@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container-footer {
  background-image: url("/pictures/pics/basefooter.svg");
}
.footer-sub {
  margin: auto;
  max-width: 1440px;
}
.footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-bottom: 100px;
}
.footer-menu {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #ffffff;
}
.contact {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #ffffff;
}
.contact p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}
#container-logo {
  display: flex;
  align-items: flex-start;
}

#food-delivery {
  position: relative;
  color: #fdfdfd;
  font-family: "Poppins";
  font-weight: 700;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}
.line19 {
  width: 1400px;
  height: 1px;
}
.line19 hr {
  opacity: 1;
  color: white;
}
.social-cont p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}
.social-cont div {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer-sub {
    margin: auto;
    max-width: 1440px;
    height: 384px;
  }
  .line19 {
    width: 1300px;
    height: 1px;
  }
  .contact {
    text-decoration-line: underline;
  }
}
