@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
#header {
  max-width: 1440px;
  margin: auto;
}

#search {
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  /* width: 235px; */
  height: 32px;
  border: 1px solid #f17228;
  background-image: url("/pictures/logos/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position: 10px;
  align-items: center;
}
.food {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #f17228;
}
#search::placeholder {
  padding-left: 30px;
}
.collapse {
  flex-grow: 0 !important;
}
.container a {
  text-decoration: none;
  color: black;
}
.container a:hover {
  text-decoration: none;
  color: black;
}
.logos button div {
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  font-family: "Poppins", "sans-serif";
  font-weight: 500px;
  color: #f17228;
}
.logos a div {
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  font-family: "Poppins", "sans-serif";
  font-weight: 500px;
  color: #f17228;
}
.btn1 {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
}
.logos button {
  background-color: none !important;
}
.qnt .text1 {
  border: none;
  flex-grow: 1 !important;
  text-align: center;
  background: #fff1e9;
  border-radius: 10px;
}
.qnt .button {
  border: none;
  /* width: 100%; */
  flex-grow: 1;
  color: #ffffff;
  height: 40px;
  background: #f17228;
  border-radius: 10px;
}
.canvas-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}.offprice {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
  color: #f17228;
}
#offcanvasRightLabel{
  color: #B6B4B4;
}