@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
.sales-title {
  display: flex;
  /* margin: 0px 50px; */
}
.container-sale {
  max-width: 335px;
  margin: auto;
}
main {
  min-height: calc(100%- 529px) !important;
  margin: auto;
}
.sales {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sales span {
  width: 11px;
  height: 30px;
  background-color: #f17228;
}
.sales h3 {
  font-family: "Poppins" !important;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #171717;
  padding: 10px;
}
.register input {
  background: #ffffff;
  border: 1px solid #ffd7bf;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  height: 40px;
}

.container-sale label {
  font-family: "Poppins" !important;
  font-style: normal;
  font-weight: 250;
  font-size: 14px;
  line-height: 140%;
}
.email {
  margin: 5px 0px;
}
.email input {
  margin: 12px 0px;
  padding-left: 20px;
}
.password {
  /* margin: 5px 0px; */
}
.password input {
  /* margin: 12px 0px; */
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("/pictures/logos/hide.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}
#submit {
  width: 100%;
  height: 40px;
  background: #f17228;
  border-radius: 10px;
  border: none;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
#register {
  width: 100%;
  height: 40px;
  background: #ffffff;
  border: 1px solid #f17228;
  box-sizing: border-box;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #f17228;
}
.register p {
  align-items: center;
  text-align: center;
  /* margin: 10px 0px; */
  text-decoration-line: underline;
  color: #828282;
}
.register a {
  font-family: "Poppins" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;
  display: block;
  text-align: right;
  color: #171717;
}
.log-name {
  font-family: "Poppins" !important;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #f17228;
}
.container {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  max-width: 100%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .container {
    box-shadow: none;
  }
}
@media screen and (min-width: 992px) {
  .container {
    box-shadow: none;
  }
}
