@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
.carousel-inner .image #image {
  background-image: url("/pictures/pics/base.svg") !important;
  width: 100% !important;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-inner .image1 #image {
  background-image: url("/pictures/pics/banner2.png") !important;
  width: 100% !important;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-inner .image2 #image {
  background-image: url("/pictures/pics/banner3.png") !important;
  width: 100% !important;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
}
#cont {
  background: linear-gradient(
    179.24deg,
    #f17228 -90.18%,
    rgba(255, 255, 255, 0) 41.19%
  );
}
.sub-container {
  display: block;
  padding: 20px;
  flex-wrap: wrap;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: none;
  border-radius: 30px;
  border-radius: 30px;
  height: 260px;
  background-image: url("/pictures/pics/base.feature.png");
  background-size: 600px 600px;
}
.sub-container img {
  margin: 15px 15px;
  width: 30px;
  height: 30px;
}
.sub-container div p {
  display: inline;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1d1d1f;
  opacity: 0.75;
}
.sub-container div h3 {
  /* display: inline-block; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}
.img-feature {
  width: 60px;
  height: 60px;
  background: rgba(255, 215, 191, 0.28);
  border-radius: 10px;
  margin: 0px 10px;
}
.img-feature-1 {
  width: 60px;
  height: 60px;
  background: rgba(255, 215, 191, 0.28);
  border-radius: 10px;
  margin: 0px 10px;
}
.img-feature-2 {
  width: 60px;
  height: 60px;
  background: rgba(255, 215, 191, 0.28);
  border-radius: 10px;
  margin: 0px 10px;
}
.container-sale {
  max-width: 1440px;
  margin: auto;
  /* margin: 10px; */
}
.sales-title {
  margin: 0px 10px;
}
.sales span {
  width: 11px;
  height: 30px;
  background-color: #f17228;
  border: 1px solid #f17228;
  margin: 0px 10px;
}
.sales h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  /* align-items: center; */
  color: #171717;
}
.see-all input {
  width: 180px;
  height: 48px;
  background-color: #f17228;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
}
.see-all div {
  background-image: url("/pictures/logos/chevron\ left.svg");
  width: 10px;
  height: 20px;
}
.pic-1 img {
  position: relative;
  width: 250px;
  height: 200x;
  left: 10%;
  z-index: 1;
}

.slider-text h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  align-items: center;
  text-align: right;
  line-height: 120%;

  color: #f17228;
}
.slider-text {
  justify-content: center !important;
  align-items: center !important;
  top: 10% !important;
}
.container {
  max-width: 1440px;
  margin: auto;
}
#span {
  border-top: 2px solid rgba(241, 114, 40, 0.6);
  display: block;
  padding-bottom: 20px;
}
.slider-text p {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.01em;
}
.banner-image {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.01em;
  color: #fdfdfd;
}
.banner-image2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.01em;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
}
@media (min-width: 768px) {
  .sub-container {
    display: block;
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    border-radius: 30px;
    height: 260px;
  }
  .cont {
    background: linear-gradient(none);
  }
  .carousel-inner {
    height: 380px;
  }
  .carousel-inner .image #image {
    background-image: url("/pictures/pics/base.svg") !important;
    width: 100% !important;
    height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .carousel-inner .image1 #image {
    background-image: url("/pictures/pics/banner2.png") !important;
    width: 100% !important;
    height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .carousel-inner .image2 #image {
    background-image: url("/pictures/pics/banner3.png") !important;
    width: 100% !important;
    height: 380px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .sub-container {
    height: 180px !important;
  }
  .pic-1 img {
    position: relative;
    width: 400px;
    height: 200x;
    left: 5%;
  }
  .slider-text h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    color: #f17228;
    text-align: right;
  }
  .slider-text p {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.01em;
  }
  .banner-image2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 90%;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.01em;
    color: #fdfdfd;
  }
  .banner-image {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.01em;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
  }
}
