.image #image {
  background-image: url("/pictures/pics/base.svg") !important;
  /* background-repeat: Hieght:250px; */
  /* background-size: auto; */
  width: 100% !important;
  height: 250px;
  background-repeat: no-repeat;
  background-size: auto;
}
.image1 #image {
  background-image: url("/pictures/pics/back1.svg") !important;
  /* background-repeat: Hieght:250px; */
  /* background-size: auto; */
  width: 100% !important;
  height: 250px;
  background-repeat: no-repeat;
  background-size: auto;
  /* background-repeat: no-repeat; */
}
.image2 #image {
  background-image: url("/pictures/pics/back2.svg") !important;
  /* background-repeat: Hieght:250px; */
  /* background-size: auto; */
  width: 100% !important;
  height: 250px;
  background-repeat: no-repeat;
  background-size: auto;
  /* background-repeat: no-repeat; */
}
